<!--
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block content %}
<h2>{{title}}</h2>

<h3>last-modified</h3>
<p>{{ lastModified }}</p>

<p>
  {{ text }}
  <br/>There are currently {{ len(apps) }} apps in this category.
</p>

<ul>
{% for app in apps %}
  <li>
    {{ app }} -
    <a href="https://f-droid.org/packages/{{ app }}/">web</a> -
    <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/{{ app }}.yml">metadata</a>
  </li>
{% end %}
</ul>
{% end %}
