{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block content %}
<h3>buildserver cycle</h3>
<p>
  <a href="/builds/running">current step running</a>
</p>
<p>
  recently finished runs:
  <ul>
    <li>
      <a href="/builds/build">fdroid build</a>
    </li><li>
      <a href="/builds/pull-unsigned">pull-unsigned</a>
    </li><li>
      fdroid publish
    </li><li>
      fdroid gpgsign
    </li><li>
      <a href="/builds/push-repo">push-repo</a>
    </li><li>
      <a href="/builds/push-archive">push-archive</a>
    </li><li>
      <a href="/builds/update">fdroid update</a>
    </li><li>
      pull-unsigned-index
    </li><li>
      fdroid signindex
    </li><li>
      fdroid gpgsign
    </li><li>
      <a href="/builds/push-repo">push-repo</a>
    </li><li>
      <a href="/builds/push-archive">push-archive</a>
    </li><li>
      <a href="/builds/deploy">fdroid deploy</a>
    </li>
  </ul>
</p>
<h3>app build status</h3>
<ul>
  <li>
    <a href="/builds/disabled">Disabled apps</a>
  </li><li>
    <a href="/builds/archived">Archived apps</a>
  </li><li>
    <a href="/builds/needsupdate">Need updating</a>
  </li><li>
    <a href="/builds/noupdatecheck">No update check</a>
  </li><li>
    <a href="/builds/nopackages">No packages</a>
  </li><li>
    <a href="/builds/missingbuilds">Missing builds</a>
  </li><li>
    <a href="https://gitlab.com/fdroid/fdroiddata/-/pipelines?page=1&scope=all&source=schedule">checkupdates</a>
  </li>
</ul>
<h3>website builds</h3>
<ul>
  <li>
    <a href="/builds/website">website status</a>
  </li>
</ul>
{% end %}
